<app-navbar>
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/encuestas']"
          #tooltip="matTooltip"
          matTooltip="Consulta, cambio de foto para los diferentes estamentos de la
          institución y aclaración de las dependencias que administran
          la información de cada estamento."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Encuestas
          </h5>
          <img src="assets/file-pen-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/tasa-graduacion']"
          #tooltip="matTooltip"
          matTooltip=" Parametrización de la leyenda que se refleja en la parte
          posterior del carnet y configuración de la firma digital del
          rector o rectora a cargo."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Tasa de graduación
          </h5>
          <img src="assets/chart-pie-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/puesto-votacion']"
          #tooltip="matTooltip"
          matTooltip="Generación de tiquetes de acceso para las personas externas a la
          institución."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Puesto de votación
          </h5>
          <img src="assets/check-to-slot-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/reportes']"
          #tooltip="matTooltip"
          matTooltip="Consulta y generación de los reportes específico y detallado de
          ingreso y salida por cada puesto de vigilancia y sedes de la
          institución."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Reportes
          </h5>
          <img src="assets/chart-simple-solid.png" class="card-img-top p-4" />
        </div>
      </div>
    </div>
  </div>
</app-navbar>
