<div mat-dialog-title style="background-color: #5c0e12">
  <div class="row pb-4">
    <div class="col">
      <h5 class="text-white">
        <i class="fa-solid fa-circle-info"></i> Estudios realizados en otras
        instituciones
      </h5>
    </div>
    <div class="col-sm-2 text-right font-weight-bold mr-4 text-white">
      <i class="fa-solid fa-xmark" mat-dialog-close></i>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="row mt-5">
    <div class="col pl-4 pr-4">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre del estudio</mat-label>
                <input readonly matInput type="text" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nivel académico</mat-label>
                <mat-select>
                  <mat-option>documento.tipoNombre</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha (DD/MM/AAAA)</mat-label>
                <input readonly matInput type="text" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Entidad</mat-label>
                <input readonly matInput type="text" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Obtenido</mat-label>
                <mat-select>
                  <mat-option>Si</mat-option>
                  <mat-option>No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="row text-right p-2">
    <div class="col">
      <button class="btn btn-usco-vt" mat-dialog-close>
        <i class="fa-solid fa-plus"></i> Agregar estudio
      </button>
    </div>
  </div>
</mat-dialog-content>
