<app-navbar>
  <mat-tab-group #tabGroup mat-stretch-tabs>
    <mat-tab label="Formación">
      <app-reporte-satisfaccion-formacion></app-reporte-satisfaccion-formacion>
    </mat-tab>
    <mat-tab label="Laboral">
      <app-reporte-situacion-laboral></app-reporte-situacion-laboral>
    </mat-tab>
    <mat-tab label="Expectativas">
      <app-reporte-expectativas-capacitacion></app-reporte-expectativas-capacitacion>
    </mat-tab>
    <mat-tab label="Académica">
      <app-reporte-formacion-academica></app-reporte-formacion-academica>
    </mat-tab>
    <mat-tab label="Reconocimientos">
      <app-reporte-distinciones-reconocimientos></app-reporte-distinciones-reconocimientos>
    </mat-tab>
  </mat-tab-group>
</app-navbar>
