<app-navbar>
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/egresado']"
          #tooltip="matTooltip"
          matTooltip="Consulta, cambio de foto para los diferentes estamentos de la
          institución y aclaración de las dependencias que administran
          la información de cada estamento."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Egresado
          </h5>
          <img
            src="assets/school-circle-check-solid.png"
            class="card-img-top p-4"
          />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/desarrollo']"
          #tooltip="matTooltip"
          matTooltip="Generación de tiquetes de acceso para las personas externas a la
          institución."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Graduado 1 año
          </h5>
          <img src="assets/user-graduate-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/desarrollo']"
          #tooltip="matTooltip"
          matTooltip=" Parametrización de la leyenda que se refleja en la parte
          posterior del carnet y configuración de la firma digital del
          rector o rectora a cargo."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Graduado 5 años
          </h5>
          <img src="assets/graduation-cap-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/inicio']"
          #tooltip="matTooltip"
          matTooltip="Consulta y generación de los reportes específico y detallado de
          ingreso y salida por cada puesto de vigilancia y sedes de la
          institución."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Inicio
          </h5>
          <img src="assets/house-solid.png" class="card-img-top p-4" />
        </div>
      </div>
    </div>
  </div>
</app-navbar>
