<app-navbar>
  <mat-tab-group #tabGroup mat-stretch-tabs>
    <mat-tab label="Información Académica">
      <app-reporte-informacion-academica></app-reporte-informacion-academica>
    </mat-tab>
    <mat-tab label="Experiencia Laboral y/o Profesional">
      <app-reporte-experiencia-laboral></app-reporte-experiencia-laboral>
    </mat-tab>
    <mat-tab label="Perfil Profesional">
      <app-reporte-perfil-profesional></app-reporte-perfil-profesional>
    </mat-tab>
  </mat-tab-group>
</app-navbar>
