<app-navbar>
  <mat-tab-group #tabGroup mat-stretch-tabs>
    <mat-tab label="Datos Personales">
      <app-datos-personales-egresado></app-datos-personales-egresado>
    </mat-tab>
    <mat-tab label="Información Académica" [disabled]="hide">
      <app-informacion-academica></app-informacion-academica>
    </mat-tab>
    <mat-tab label="Experiencia Laboral y/o Profesional" [disabled]="hide">
      <app-experiencia-laboral></app-experiencia-laboral>
    </mat-tab>
    <mat-tab label="Perfil Profesional" [disabled]="hide">
      <app-perfil-profesional></app-perfil-profesional>
    </mat-tab>
  </mat-tab-group>
</app-navbar>
