<div id="content-wrap" class="container mt-3 mb-5 text-center" #target>
  <div class="card rounded-2 p-0 shadow-sm mt-5">
    <div
      class="card-header ml-4 mb-3 mr-4 cursor-select"
      [routerLink]="['/egresado']"
      routerLinkActive="router-link-active"
    >
      <h4 class="font-usco-default">
        <strong>Perfil Profesional</strong>
      </h4>
    </div>
    <div class="card-body ls">
      <div class="row">
        <div class="col">
          <form class="pl-4 pr-4">
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Perfil profesional
              </legend>
              <div class="row">
                <div class="col">
                  <p
                    class="font-usco-default text-left font-usco-gr font-weight-bold"
                    style="font-size: 18px"
                  >
                    <i *ngIf="(datosComplementarios | json) != '[]'">{{ datosComplementarios[0].perfilProfesional }}</i>
                  </p>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
